#navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 3rem;
  background-color: white;
  font-family: 'Arial', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px rgb(218, 218, 218);
}

.hide-desktop {
    display : none
}

.no-dropdown{
    margin-top: 5px;
}

.header-left img {
  width: 80px;
  height: auto;
}

.header-center {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-center ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.header-center ul li a {
  text-decoration: none;
  color: #001b3d; 
  font-weight: bold;
  font-size: 1rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.header-right button.icon-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lang-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 0.3rem 0.7rem;
  background: white;
  cursor: pointer;
  font-weight: bold;
}


.download-btn {
  padding: 0.5rem 1.5rem;
  background-color: #001b3d; 
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 0.95rem;
}

@media(max-width: 1027px){
    .hide-desktop {
        display: block;
    }

    .header-center {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        padding-top: 1rem;
        transform: translateY(-150%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        gap: 0;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
    }
    .close{
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 0 1em 1em 1em;
    }

    .close a img {
        width: 50px;
        height: 30px;
    }
    .header-center ul {
       gap: 1.5rem;
    }

   
    .nav-link{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: start;
        gap:0px;
        
        
    }
    .link{
        display: flex;
        justify-content: space-between;
    }
    .nav-link li {
        padding: 0;
        margin-left: 1em;
        
    }

    .hide-mobile {
        display: none;
    }

    .hide-mobile.lang-switch {
        display: none;
    }

    .header-right {
        gap: 0.5rem;
    }
    .menu-open {
        margin-left: 10px;
    }

    /* Khi menuOpen bật, hiển thị nav bằng transform */
    .header-center.show {
    transform: translateY(0);

    }
    .download-btn{
        margin-top: 1em;
        width: 100%;
    }
    .lang-switch{
        display: flex;
        justify-content: space-between;
        border: none;
        padding: 0;
    }

}
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px); /* hoặc background-color: rgba(0,0,0,0.2); */
  z-index: 998;
}

/* Hộp tìm kiếm */
.search-box {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.3s ease;
  z-index: 999;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  pointer-events: none; /* tránh bị click khi ẩn */
  opacity: 0;
}

.search-box.active {
  transform: translate(-50%);
  pointer-events: auto;
  opacity: 1;
}

/* Input */
.search-input {
  position: absolute;
  background-color: white;
  right: 1em;
  left: 1em;
  top: 1.5em;
  bottom: 1.5em;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px gray;
  border-radius: 30px;
  padding: 0 1em;
}

.search-input input {
  width: 100%;
  margin-left: 0.5em;
  border: none;
  outline: none;
  font-size: 1rem;
}

@media(max-width: 500px){
    .search-box{
        width: 100%;
    }
}